// Set DEFAULTS for Root Element
:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; //16 is usually default but setting for visibility
}

//Set Variables
$bandcamp-font: 'Open Sans', sans-serif;
$font-xsmall:  8px;
$font-small:  12px;
$font-medium: 16px;
$font-large:  18px;
$font-xlarge: 24px;
