// Set DEFAULTS for Root Element
:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; //16 is usually default but setting for visibility
}

//Set Variables
$bandcamp: 'Open Sans', sans-serif;
$xxxsmall:  8px;
$xxsmall:   9px;
$xsmall:   10px; 
$small:    12px;
$medium:   16px;
$large:    18px;
$xlarge:   21px;
$xxlarge:  24px;
$xxxlarge: 30px;
