// IMPORTS
@use 'fonts';
@use 'reset';
@use 'debug';
@use 'sass:math';
// VARIABLES
$height-nav: 53px;
$nav-item-dim: 45px;
$pf-pic-dim: 29px;
$width-margin: 10px;
$width-max: 1600px;
$featured-gray: #222222;
// CLASSES
.container {
	max-width: $width-max;
	margin-left: auto;
	margin-right: auto;
}
.row {
	display: flex;
	width: 100%;
	justify-content: center;
}
.gray-bg {
	background-color: $featured-gray;
}
.grid-base {
	display: flex;
	width: 100%;
	justify-content: center;
}
@for $value from 1 through 12 {
	$width: percentage(math.div(1, 12));

	.span-#{$value} {
		width: $width* $value;
	}
}
nav {
	height: $height-nav;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.col {
	display: flex;
}
.nav-item {
	height: $nav-item-dim;
}
.nav-item-square {
	width: $nav-item-dim;
}
.profile-pic {
	border-radius: 50%;
	height: $pf-pic-dim;
	width: $pf-pic-dim;
}
.img-container {
	display: flex;
	align-items: center;
}
.img-container img {
	max-width: 100%;
	max-height: 100%;
}
.flex-end {
	justify-content: flex-end;
}
.nav-li {
	display: flex;
	align-items: center;
	margin: 0 .5rem;
}
.featured-sidebar {
	display: flex;
	flex-direction: column;
}
.discover-album-col {
	display:flex;
	flex-direction: column;
}
.discover-album {
	display: flex;
	flex-direction: column;
}