// IMPORTS
@use 'fonts';
@use 'reset';

// VARIABLES
$width-margin: 10px;
$width-max: 1400px;

// CLASSES
.container {
	max-width: $width-max;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}
.grid-base {
	display: flex;
	width: 100%;
	justify-content: center;
}
.two-col-grid .col{
    width: 50%;
}
.three-col-grid .col {
	width: 33.333%;
}