// IMPORTS
@use 'fonts';
@use 'reset';

// VARIABLES
$width-margin: 10px;
$width-max: 1400px;

// CLASSES
.container {
	max-width: $width-max;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}
.grid-base {
	display: flex;
	width: 100%;
	justify-content: center;
}
// Dynamically set column width percentages for lengths 1 (out of 12) to 12 (out of 12)
@for $value from 1 through 12 {
	$width: percentage(1/$value);
	.col-#{$value} {
		width: $width;
	}
}
